a {
    color: #86D0CB;
    font-size: 18px;
    font-weight: normal;
}

a:hover{
    color: #68bfb7;
    font-weight: normal;
}

h1 {
    color: #E2645A;
    font-family: 'Merriweather', serif;
    font-size: 42px;
}

body{
    color: #585858;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.sub-header{
    font-size: 18px;
}

.btn-primary{
    color: #86D0CB;
    background-color: white;
    border-color: #86D0CB;
    border-radius: 20px;
}

.btn-primary:hover{
    color: white;
    background-color: #86D0CB;
    border-color: white;
}

.importante{
    color: white;
    font-weight: bold;
    background-color: #86D0CB;
    border-color: #86D0CB;
    box-shadow: #68bfb7 0 6px 20px -8px;
    border-radius: 20px;
}

.importante:hover{
    background-color: #68bfb7;
    border-color: #68bfb7;
    color: white;
}

.center{
    margin-top: 40vh;
}

.botao-index1{
    margin-right: 5vw;
}

.botao-index2{
    margin-left: 5vw;
}